@media (max-width: 600px) {
    /* homepage */
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
        padding: 20px ;
    }

    .navigation-wrapper > .center-column {
        order: 1;
        width: 100%;
    }

    .navigation-wrapper > .left-column {
        order: 2;
        margin-bottom: 25px;
    }

    .navigation-wrapper > .right-column {
        order: 3;
        margin-bottom: 15px;
    }

    .hero-section {
        padding: 50px 10px;
    }

    .container {
       height: 100%;
       display: grid;
       width: 100%;
    }

    .container > .type-of-service {
        width: 100%;
        align-items: center;
        margin: 0;
    }
    .container > .type-of-service a {
        margin-top: 0;
        border: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .container > .content {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }

    /* contact page */
    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
        height: 100%;
    }

    .skewed-header > .header-bg {
        background-size: 100%;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
        margin-bottom: 70px;
    }

    .page-container {
       display: flex;
       justify-content: center;
    }

    .page-container > .contact-grid-wrapper {
        display: block;
        width: 400px;
    }

    .form {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 350px;
    }

    .form >.centered-btn-wrapper {
        display: flex;
        justify-content: left;
    }

    /* company page */

    .company-data-container > .company-name {
        margin-left: 15px;
    }

    /* service  page*/

    .services-container {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .services-container > .services-wrapper {
        margin-top: 40px;
        width: 400px;
    } 
}